<%= link_to "MAJ des liens sémantiques","/maj" %><br />
<%= link_to "Gestion des tags","/tags" %><br />
<%= link_to "Gestion des articles","/articles" %><br />
<h1>Nuage de tag</h1>
<div id="tags">
<% 
	@html = ""
	if params[:tag].nil?
		Tag.all.each do |tag|
			@html << link_to(tag.name,"/home?tag="+tag.id.to_s)+" "
		end
	else
		@html << "Tag sélectionné: "+Tag.find(params[:tag]).name
		@html << "<br />"
		@html << link_to("retour","/home")
		@html << "<br />"
		l = Links.where(:tag_id=>params[:tag]).order(:occurrence).limit(10)
		if l.size>0
			l.each do |link|
				tag = Tag.find(link.id_tag)
				@html << link_to(tag.name,"/home?tag="+tag.id.to_s)+" "
			end
		else
			@html << "Pas de mot clé associé"
		end
	end
%>
<%= raw @html %>
</div>
<table>
<% 
	Article.all.each do |article|
		affichage = false
		if !params[:tag].nil?
			article.tags.all.each do |tag|
				if tag.id.to_i == params[:tag].to_i
					affichage = true
				end
			end
		else
			affichage = true
		end
		if affichage
%>
	<tr>
		<td><h1><%= article.title %></h1></td>
	</tr>
	<tr>
		<td><h3>
		<% article.tags.all.each do |tag| %>
			<%= tag.name+" "%>
		<% end %>
		</h3></td>
	</tr>
	<tr>
		<td><%= article.content %></td>
	</tr>
<% 
		end
	end 
%>
</table>