<h1>Listing equivalences</h1>

<table>
  <tr>
    <th>Tag1</th>
    <th>Tag2</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @equivalences.each do |equivalence| %>
  <tr>
    <td><%= equivalence.tag1 %></td>
    <td><%= equivalence.tag2 %></td>
    <td><%= link_to 'Show', equivalence %></td>
    <td><%= link_to 'Edit', edit_equivalence_path(equivalence) %></td>
    <td><%= link_to 'Destroy', equivalence, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Equivalence', new_equivalence_path %>
