<p id="notice"><%= notice %></p>

<p>
  <b>Tag1:</b>
  <%= @equivalence.tag1 %>
</p>

<p>
  <b>Tag2:</b>
  <%= @equivalence.tag2 %>
</p>


<%= link_to 'Edit', edit_equivalence_path(@equivalence) %> |
<%= link_to 'Back', equivalences_path %>
